<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn-link">Home page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>12.08.2020</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, cumque cupiditate dolorem fuga impedit molestiae nam necessitatibus nihil quos reiciendis repellendus reprehenderit temporibus tenetur! Cumque est inventore ipsum ratione velit!</p>
    </div>

</div>
